<h4>
    Shop</h4>
<ul class="nav nav-list">
    <li>@Html.ActionLink("Totes", "GetProductsforCategory", "Products", new {id=1 },null)</li>
    <li>@Html.ActionLink("Baby Clothes", "GetProductsforCategory", "Products", new {id=2 },null)</li>
    <li>@Html.ActionLink("Home Decor", "GetProductsforCategory", "Products", new {id=3 },null)</li>
    <li>@Html.ActionLink("Duffle Bags", "GetProductsforCategory", "Products", new {id=4 },null)</li>
    <li>@Html.ActionLink("All Products", "GetProductsforCategory", "Products", new {id=-1 },null)</li>
</ul>
