@model WebApis.Models.ShoppingCartVM
<h3>
    Cart Summary</h3>
<div class="span8">
    @if (Model.cartitems.Any())
    {
        foreach (var item in Model.cartitems)
        {
        <div class="row">
            <span class="span1">
                <img src='@string.Format("/assets/images/products/{0}", item.Product.ImageUrl)' />
            </span><span class="span3">@item.Product.Name </span>
            <div class="controls controls-row">
                <input class="span1" type="text" value="@item.Quantity"/>
                <span class="span2">@item.Product.Price.ToString("C")</span>
                <span class="span1 uneditable-input">@(string.Format("{0}", item.Quantity * item.Product.Price))</span>
            </div>
        </div>
        
        }
        
        <div class="row">
            <div class="span7"></div>
            <div class="span1">total xx
             <input class="btn btn-large btn-primary" name="addtocartbtn" type="submit" value="Pay" />
            </div>
        </div>
        
    }
</div>
